/* color settings */
.bg-1 {
  background-color: #9dab86 !important;
}

.bg-2 {
  background-color: #e6a157 !important;
}

.bg-3 {
  background-color: #eb8242 !important;
}

.bg-4 {
  background-color: #c9753d !important;
}

.btn-2 {
  color: #212529;
  background-color: #e6a157;
  border-color: #e6a157;
}

.btn-3 {
  color: #212529;
  background-color: #eb8242;
  border-color: #eb8242;
}

.btn-4 {
  color: #212529;
  background-color: #c9753d;
  border-color: #c9753d;
}

#sticky-footer {
  flex-shrink: none;
}

