{% extends 'blog/base.html' %}

{% block title %}
  Yuyaction's Blog
{% endblock %}

{% block content1 %}
{% endblock %}

{% block content2 %}
  <h3>投稿された記事一覧</h3>
  {% for article in articles %}
    <p>
    <h4>
      <a href="{% url 'blog:post_content' article.pk %}">
        {{ article.title }}
      </a>
    </h4>
    <p>
    投稿日時:
    {{ article.published_time }}
    {% for tag in article.tags.all %}
    <button type="button" class="btn btn-sm btn-secondary rounded-pill">
      <a href="{% url 'blog:awt' tag.name %}" class="text-light">
      {{ tag.name }}
      </a>
    </button>
    {% endfor %}
  {% endfor %}
{% endblock %}


