{% extends 'blog/base.html' %}

{% block title %}
  Yuyaction's Blog
{% endblock %}

{% block jumbotron %}
    <div class = "jumbotron jumbotron-fluid" style = "margin-bottom:0rem">
      <div class = "container">
        <h1 class = "mb-3"> Yuyaction's Blog </h1>
      </div>
    </div>
{% endblock %}

{% block content2 %}
  <h3>タグ一覧</h3>
  {% for tag in tags %}
      <button type="button" class="btn btn-sm btn-secondary rounded-pill">
      <a href="{% url 'blog:awt' tag.name %}" class="text-light">
        {{ tag.name }}
      </a>
      </button>
  {% endfor %}
  <p>
  </p>
{% endblock %}



